// Theme's Palette
@import("/Users/chenxiaodong/Documents/GitHub/erdong-notes/node_modules/_vuepress-theme-vdoing@1.8.3@vuepress-theme-vdoing/styles/palette.styl")

// User's Palette
@import("/Users/chenxiaodong/Documents/GitHub/erdong-notes/docs/.vuepress/styles/palette.styl")